*{
    margin: 0%;
    padding: 0%;
}

.logo{
    position: absolute;
    z-index: 2;
    left: 16%;
    top: 5%;
}

.titulo{
    color: #3F4927;
    right: 20%;
    position: absolute;
    top: 20%;
    left: 11%;
    z-index: 2;
    }

.rectangle {
    width: 45rem;
    height: 75rem;
    background: #8D9277;
    position: absolute;
    top: -18%;
    z-index: 1;
   }

   .rectangle2{
    width: 38rem;
    height: 38rem;
    background: #B8BF9A;
    position: absolute;
    top: 30%;
    left: 3%;
    z-index: 2;
   }

   .login{
    position: absolute;
    z-index: 3;
    color: #ffffff;
    left: 16%;
    font-size: 180%;
    top: 38%;
   }

   .fundo{
    position: absolute;
    z-index: 0;
    left: 30%;
    top: -13%;
    height: 100rem;
    width: 60rem;
  }

  .email{
    position: absolute;
    z-index: 3;
    left: 7%;
    top: 50%;
    color: #8D9277;
  }

  input[type="email"]{
    width: 435px;
    height: 35px;
    background-color: #D9DDD7;
    border-color: #D9DDD7;
  }

  .senha{
    position: absolute;
    z-index: 3;
    left: 7%;
    top: 58%;
    color: #8D9277;
  }

  input[type="number"]{
    width: 300px;
    height: 30px;
    background-color: #D9DDD7;
    border-color: #D9DDD7;
  }

  input[type="password"]{
    width: 435px;
    height: 35px;
    background-color: #D9DDD7;
    border-color: #D9DDD7;
  }
  
  button{
    position: absolute;
    z-index: 3;
    left: 16%;
    top: 83%;
        color: #FFFFFF;
    height: 40px;
    width: 80px;
    background-color: #B79D7C;
    border-radius: 5px;
    border-color: #B79D7C;
  }


  .opções1{
    position: absolute;
    z-index: 3;
    color: #3f492700;
    left: 17%;
    top: 84%;
    font-size: 100%;

  }

  .opções2{
    position: absolute;
    z-index: 3;
    color: #3F4927;
    left: 7%;
    top: 77%;
    font-size: 80%;
  }

  img[type="img"]{
    position: absolute;
    border-radius: 40px;
  }

  .cargo{
    position: absolute;
    z-index: 3;
    left: 7%;
    top: 60%;
    background-color: #D9DDD7;
    width: 23.8%;
    height: 6%;
    top: 66%;
  }

  
